@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;500&family=Roboto:wght@200;300;400&display=swap');

:root {
    --accent-dark: #4f6fa0;
    --accent-light: #fbfbff;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: var(--accent-light);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 1s;
    opacity: 100%;
}

.main-content-grid {
    width: calc(100% - 12em);
    height: calc(100% - 10em);
    display: grid;
    text-align: center;
}
.main-content-grid > * {
    display: block;
}

.center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.center > * {
    align-content: center;
}

.hidden {
    opacity: 0;
    z-index: -1;
}

h1 {
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    color: var(--accent-dark);
}

.widget {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0.5em;
    padding: 1em;
    border: 0.1em var(--accent-dark) solid;
    border-radius: 0.4em;
    background-color: white;
}

.widget h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--accent-dark);
    font-size: 1em;
    display: block;
}

.widget-body {
    margin: auto;
}

.minus-button,
.plus-button {
    display: inline-block;
    opacity: 50%;
    font-size: 20px;
    cursor: pointer;
}
.display-mode-widget-mins .minus-button,
.display-mode-widget-mins .plus-button {
    font-size: 30px;
}
.minus-button:hover,
.plus-button:hover {
    opacity: 100%;
}
.minus-button:active,
.plus-button:active {
    color: red;
}
.minus-button::before {
    content: "−";
}
.plus-button::before {
    content: "+";
}

.display-mode-widget-mins .min-count {
    display: inline-block;
    font-size: 30px;
    margin: 10px 0 10px 0;
    transition: background-color 100ms;
}
.display-mode-widget-mins .min-count:hover {
    background-color: #eaeaea;
}
.display-mode-widget-mins input {
    border: none;
    display: inline-block;
    font-size: 30px;
    width: 64px;
    text-align: center;
    margin: 10px 0 10px 0;
    background-color: white;
}
.display-mode-widget-mins input {
    border: none;
    display: inline-block;
    font-size: 30px;
    width: 64px;
    text-align: center;
    margin: 10px 0 10px 0;
    background-color: white;
}

.display-mode-widget input {
    width: 12em;
    text-align: center;
}
.display-mode-widget-date {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin: 5px 0 5px 0;
    transition: background-color 100ms;
}
.display-mode-widget-date:hover {
    background-color: #eaeaea;
}

.display-mode-option * {
    cursor: pointer;
    transition: background-color 100ms;
}
.display-mode-option input {
    display: none;
}
.display-mode-option.selected {
    font-weight: bold;
}
.display-mode-option.selected:before {
    content: "- ";
}
.display-mode-option.selected:after {
    content: " -";
}
.display-mode-option:hover {
    background-color: #eaeaea;
}

.countdown {
    font-size: 20px;
}

.timer-widget .last-update {
    margin-top: 20px;
    color: gray;
    font-size: 12px;
}

.timezone-widget span:nth-child(2) {
    transition: background-color 100ms;
}
.timezone-widget span:nth-child(2):hover {
    background-color: #eaeaea;
}
.timezone-widget input {
    border: none;
    display: inline-block;
    width: 32px;
    text-align: center;
    margin: 10px 0 10px 0;
    background-color: white;
}

.legend-widget li:before {
    content: "• ";
    font-size: 12px;
    font-weight: bold;
}
.legend-widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.legend-widget li.highlighted {
    font-weight: bold;
    cursor: pointer;
}

.help-box {
    position: relative;
    background-color: #ffffff;
    border: solid 1px var(--accent-dark);
    width: 40em;
    padding: 1em;
    z-index: 1;
}
.help-box img {
}
.help-box h1 {
    margin: auto;
    text-align: center;
}
.help-box .image-advice {
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
}
.help-box .image-advice * {
    display: inline-block;
    padding: 0.5em;
}
.x-button:before {
    content: "×";
    font-size: 1em;
    line-height: 1em;
}
.x-button {
    cursor: pointer;
    text-align: center;
    background-color: white;
    height: 1.2em;
    width: 1.2em;
    position: absolute;
    right: 0;
    top: 0;
}

.help-button {
    cursor: pointer;
    width: 2em;
    height: 2em;
    margin: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
}
.help-button:hover {
    filter: brightness(1.1);
}
.help-button:active {
    filter: brightness(0.9);
}

.button:hover {
    filter: brightness(1.1);
}
.button:active {
    filter: brightness(0.9);
}